#bungee {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#blue{
    background-color: #0D407F;
    color: white;
}

#red{
    background-color: #991115;
    color: white
}

#grey{
    background-color: #787878;
    color: white;
}

